<div class="login-container">

    <h2>Log <u>in</u></h2>
    <%= form_tag '/login' do %>
        <i class="icon icon--password"></i>
        <%= text_field_tag :email, nil, placeholder: 'sofatutor email address' %>
        <%= password_field_tag :password_digest, nil, placeholder: 'password' %>
        <%= submit_tag "Login" %>
    <% end%>
</div>