<header class="page-header">
  <div class="logo">
    <img src="https://dkckbwr4t7ug6.cloudfront.net/assets/application/design_system/sofa_icon-18b344aa1c21d70085cf29f8056a5a681d8c5fbf305c80163ca6cf374ca1a030.svg" alt="Logo">
    <span class="company-name">sofatech</span>
  </div>

  <% if logged_in? %>
    <div class="logout-container">
      <%= link_to "Log out", logout_path, method: "delete", class: "logout-button" %>
    </div>
  <% end %>
</header>

