.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-top: 181px;
    text-align: center;
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.2);
  }

.login-img {
    margin-top: -181px;
    width: 200px;
    height: 200px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    margin: auto;
    width: 200px;
    padding: 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[type="submit"] {
    background-color: #9c0;
    color: #fff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #9c0;
  }
