.icon--password {
  background-image: url('app/javascript/icons/password.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
}

.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[type="submit"] {
    background-color: #1f6822;
    color: #fff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #1f6822;
  }
