body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container-edit {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

.page-banner {
  background: linear-gradient(90deg, #9c0, #009100) 50%/cover no-repeat;
  padding: 35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 130px;
  width: 600px; /* İstediğiniz genişliği belirleyin */
  height: 80px; /* İstediğiniz yüksekliği belirleyin */
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-banner h3 {
  font-size: 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0.897);
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: #333;
}

td,
th {
  padding: 20px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

.button-container {
  margin-left: 642px;
  margin-top: 30px;
}

.button-container a {
  display: inline-block;
  margin-left: 10px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #337ab7;
  color: #fff;
  border-radius: 4px;
}

.button-container a:hover {
  background-color: #23527c;
}
