body {
    /* */
  }

  #show-page {
    position: relative;
    background: linear-gradient(180deg, #34a1c5 .04%, #b0e0f0 51.2%);
  }

  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
  }

  .page-banner {
    background: linear-gradient(90deg, #9c0, #009100) 50%/cover no-repeat;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .page-banner h3 {
    font-size: 24px;
    margin: 0;
  }

  strong {
    font-weight: bold;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    color: #333;
  }

  td, th {
    padding: 20px;
  }

  a {
    color: #000;
  }

  a:visited {
    color: #666;
  }

  a:hover {
    color: #fff;
    background-color: #000;
  }
